/* Common */

.h1 {
    font-size: 4rem !important;
}

.navbar-toggler-icon {
    color: white !important;
}

.loading {
    color: #C6B520 !important;
}

/* Connections */

.silo {
    display: flex;
    --s: 100px; /* size  */
    --m: 4px; /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.silo-container {
    font-size: 0; /*disable white space between inline block element */
}

    .silo-container div {
        width: var(--s);
        margin: var(--m);
        height: calc(var(--s)*1.1547);
        display: inline-block;
        font-size: initial;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        margin-bottom: calc(var(--m) - var(--s)*0.2885);
    }

        .silo-container div:hover {
            cursor: pointer;
        }

    .silo-container::before {
        content: "";
        width: calc(var(--s)/2 + var(--m));
        float: left;
        height: 120%;
        shape-outside: repeating-linear-gradient( #0000 0 calc(var(--f) - 3px), #000 0 var(--f));
    }
