<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Platform</TableHeaderCell>
            <TableHeaderCell>Actions</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var item in Connections)
        {
            <TableRow>
                <TableRowCell>
                    <a href="/dead-letter-correctors/@(item.Id)">@item.Id</a>
                </TableRowCell>
                <TableRowCell>@item.Name</TableRowCell>
                <TableRowCell>@item.Type</TableRowCell>
                <TableRowCell>
                    <Button Color="Color.Danger" Float="Float.End" Clicked="@(() => Delete(item.Id))">Delete</Button>
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>
