@using MessageSilo.BlazorApp.Components.Connection
@page "/dashboard"
@attribute [Authorize]
@inject NavigationManager Navigation

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Dashboard</Heading>

<Row>
    <Column>
        <Button Color="Color.Primary" Float="Float.End" Clicked="@(() => Navigation.NavigateTo($"/connection/{Guid.Empty}"))">New Connection</Button>
    </Column>
</Row>

<Row>
    <Column>
        <div class="silo">
            <div class="silo-container">
                @foreach (var item in Connections)
                {
                    <ConnectionGrain ConnectionSettings="@item"></ConnectionGrain>
                }
            </div>
        </div>
    </Column>
</Row>