@page "/dead-letter-correctors"
@attribute [Authorize]
@inject HttpClient ApiClient

<PageTitle>Dead Letter Correctors | Message Silo</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dead Letter Correctors</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <Button Color="Color.Primary" class="btn btn-sm">
                <span data-feather="plus-square"></span>
                New Connection
            </Button>
        </div>
    </div>
</div>

<ConnectionSettingsModal ApiClient="ApiClient"></ConnectionSettingsModal>

<ul>
@foreach (var item in Connections)
{
    <li>@item.Name</li>
}
</ul>
