@using MessageSilo.Shared.Platforms

<Modal @ref="@ConnectionModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Connection Settings</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <form>
                <div class="form-group">
                    <label for="platform">Platform</label>
                    <Select TValue="IPlatform" id="platform" class="form-control" @bind-SelectedValue="SelectedPlatform">
                        @foreach (var item in Platforms)
                        {
                            <SelectItem Value="@item">@item.DisplayName</SelectItem>
                        }
                    </Select>
                </div>
            </form>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary">Save</Button>
            <Button Color="Color.Secondary">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>