@if (IsLoading)
{
    <div class="row justify-content-center pt-5">
        <div class="spinner-grow" role="status" />
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}