@inject IHttpClientFactory _clientFactory
@page "/dashboard"

@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Dashboard</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <Button Color="Color.Primary" Clicked="@(e => ConnectionSettingsModal.Show())" class="btn btn-sm">
                <span data-feather="plus-square"></span>
                New Connection
            </Button>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        @foreach (var item in Items)
        {
            <DashboardItem Connection="item" ApiClient="ApiClient"></DashboardItem>
        }
    </div>
</div>

<ConnectionSettingsModal @ref="@ConnectionSettingsModal" ApiClient="ApiClient"></ConnectionSettingsModal>