@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Hello, world!</h1>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
