@page "/"
@inject IDashboardState State

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Experiment with Message Silo!</Heading>

<Row>
    @*Connection - Input*@
    <Column ColumnSize="ColumnSize.Is5">
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <ConnectionEditor Queue="State?.Queue?.ConnectionSettings" Dashboard="this"></ConnectionEditor>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is4">
                <StateHeaxagon State="State?.Queue?.Status" InitializationError="@State?.Queue?.InitializationError"></StateHeaxagon>
            </Column>
            <Column ColumnSize="ColumnSize.Is8">
                <CodeBlock>@State?.LastMessage?.Input?.Body</CodeBlock>
            </Column>
        </Row>
    </Column>

    <Column ColumnSize="ColumnSize.Is2">
        <Row>
            <Column ColumnSize="ColumnSize.Is12"></Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </Column>
        </Row>
    </Column>

    @*Enricher*@
    <Column ColumnSize="ColumnSize.Is5">
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <EnricherEditor Enricher="State?.Enricher"></EnricherEditor>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is4">
                <StateHeaxagon State="Status.Created"></StateHeaxagon>
            </Column>
            <Column ColumnSize="ColumnSize.Is8">
                <CodeBlock>@(State?.LastMessage?.Error != null ? State?.LastMessage?.Error : State?.LastMessage?.Output?.Body)</CodeBlock>
            </Column>
        </Row>
    </Column>
</Row>

@code {
    private static System.Timers.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        await State.Init();
        StartTimer();
        await base.OnInitializedAsync();
    }

    public void StartTimer()
    {
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += TimerElapsed;
        timer.Enabled = true;
    }

    public void TimerElapsed(Object source, System.Timers.ElapsedEventArgs e)
    {
        InvokeAsync(State.FillOutputs);
        InvokeAsync(StateHasChanged);
    }

    public void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }
}
