@inherits LayoutComponentBase

<!-- Navbar -->
<NavMenu></NavMenu>

<!-- Text Area and Image Section -->
<section class="py-5">
    <div class="container">
        @Body
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="container">
        <p>&copy; @(DateTime.Now.Year) Message Silo. All rights reserved.</p>
    </div>
</footer>
