<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="https://www.message-silo.dev/img/logo.png" alt="Message Silo Logo" style="height: 40px; margin-right: 10px;">Message Silo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/MessageSilo/MessageSilo/wiki/01.-Getting-Started">Getting Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/MessageSilo/MessageSilo">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
