<div style="text-align:left">
    <Table Striped>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Key</TableHeaderCell>
                <TableHeaderCell>Value</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in PinnedItems)
            {
                <TableRow>
                    <TableRowHeader>@item.Key</TableRowHeader>
                    <TableRowCell>@item.Value</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</div>