@*@if (ConnectionSettings is not null)
{
    <Div Background=@StatusColor title="@ConnectionSettings.Name" onclick="@(() => Navigation.NavigateTo($"/connection/{ConnectionSettings.Id}"))"></Div>
}*@

<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
<Div Background=Background.Success title="My Test Queue 1"></Div>
